<keinbr>
    <!--Einleitender Abschnitt mit relevanten Informationen zum Inhalt des Projekts und der Zielsetzung -->
    <i>The Göttingen Campus represents a network of universities and
        university-affiliated institutions recognised for rigour and
        robustness in research. As such, it is at the forefront of
        development in the field of Data Science. By drawing on
        established expertise and infrastructural resources, the project
        “Learning Reading Data” is aimed at promoting data-processing
        skills throughout the Campus as a whole. Working on this basis,
        the purpose of the project initiated by the Göttingen Campus
        is to offer broadly based and generally available tools for
        acquiring basic data-handling skills in all bachelor degree
        courses. The project is based on a three-pronged concept
        involving: offering a purpose-designed lecture course
        entitled “Data Literary Basics”, setting up a DataLab,
        and to round off, editing and providing “Open Educational Resources”.
        This concept has been submitted by the University of Göttingen
        in participation with the
        <a href="https://www.stifterverband.org/data-literacy-education">Data Literacy Education</a> project
        sponsored by the “Stifterverband” [Donors’ Association for the Advancement of Science]
        and the Heinz Nixdorf Foundation.</i><br>
    <style>
            div.transbox {
                margin: 30px;
                background-color: rgba(8, 75, 138, 0.35);
                border: 1px solid white;
                opacity: 1;
                filter: alpha(opacity=100);
                /* For IE8 and earlier */
            }
            
            div.transbox p {
                margin: 5%;
                color: #000000;
                opacity: 1;
            }
        </style>
        </head>
            <body>
                <div class="background">
                    <div class="transbox">
                        <p>
                        Under the following link the current course materials can be found 
                        (<a href="https://github.com/Daten-Lesen-Lernen/daten-lesen-lernen-lecture" style="color:#FFF;">GitHub</a>). 
                        <br>
                        <br>
                        Project related OER materials are available on the following page 
                        (<a href="https://www.uni-goettingen.de/de/614739.html" style="color:#FFF;">Link</a>).
                        </p>
                    </div>
                </div>
    <!-- Überleitung zu den einzelnen Bestandteilen und der Inhalten -->
    The term “data competence” refers to a variety of skills,
    such as the ability to explore data, examine it with the assistance
    of a computer and interpret the results gained. As such,
    data competence goes beyond the traditional boundaries of subjects,
    combining skills acquired in computer science, statistics and
    mathematics not only with related ethical issues and aspects of
    the humanities, but also with subject-specific knowledge.
    Until now, the curricula at most German universities do not cater
    adequately or at all for teaching data handling skills to a
    substantial number of students.<br>

    <!-- Ziele und Säulen des Projektes -->
    <br>
    This project, as initiated by the Göttingen Campus,
    is thus aimed at offering broadly based and readily available
    tools for teaching basic data handling skills to all students
    working for a bachelor’s degree. Three important building
    blocks are constituent in achieving this:
    <br>
    <ol>
        <li>
            the interactive lecture course on
            <a href="#DataLiteracyBasics">Data Literacy Basics</a>,
            available to students of any subject doing a bachelor’s degree,
            teaching the fundamentals of data competence, practice-focused
            and research-related,
        </li>
        <br>
        <li>
            setting up a <a href="#DataLab">DataLabs</a> that acts as an
            interface between
            not only the different fields of study from which the students
            come, but also regional business and industry as well as
            social actors, and, in addition, the research scientists
            working together with CIDAS [Campus -Institute Data Science],
            their aim being to apply the theory of the lecture course to practical projects,
        </li>
        <br>
        <li>
            <a href="#OER">Open Educational Resources</a>, accordingly selected and
            checked for high standards, complement the lecture
            course and DataLab in teaching data handling skills.
            Adapted to the examination requirements of the
            degree programme in question, they can contribute
            towards the overall assessment.
        </li><br>
    </ol>
    The overarching aim in the teaching concept is that
    “all graduates may acquire skills in data handling
    that are important to them for their studies,
    research, job and social participation”.
    In a peer-to-peer assessment procedure,
    promoted by the
    “Stifterverband” and CHE [Centre for the Development of Universities],
    heads of universities, lecturers, students
    and ancillary services together have analysed
    the strengths and weaknesses and identified
    priority areas for implementation.