<keinbr>
    <!-- Details zu Lehrveranstaltung "Data Literacy Basics" -->
    <br>
    <p style="font-size:20px;color:#084B8A">
        <b>The “Data Literacy Basics” course</b></p>
    The summer term of 2019 will see the start of “Data Literacy Basics”,
    a joint course offered by the Göttingen Campus and spearheaded by
    the Centre for Statistics with accompanying tutorials. As a new course,
    it teaches the fundamentals of data handling skills for students
    studying for a bachelor’s degree. It will take place once a week
    with two hours of lectures and tutorials in the DataLab so that the
    students will be able to learn the relevant essentials of practical
    application by analysing suitable datasets.
    <br>
    <br>
    In order to ensure that this course, designed for undergraduate
    students of any subject, is recognised as an option on the curriculum,
    it will be available as such as from the summer term of 2019 as
    part of the university-wide core competence courses. As from the
    summer term of 2020, the course in question will be available to
    the Faculty of Arts, the Faculty of Social Sciences and the Faculty
    of Economics, and in the content area of teaching training.
    The special focus of attention here is on the subjects offered by
    the Faculty of Arts and the Faculty of Social Sciences where teaching
    data handling skills has a particularly extensive innovatory potential.
    The intention is to include further faculties by the summer term of 2021.
    <br>
    <br>
    In terms of content, the planned course focuses especially on
    <liste>
        <li>
            a lecture with a method-based approach
        </li>
        <li>
            exercise material in the tutorials that is subject-specific,
        </li>
        <li>
            providing learning content und suitable data sets for
            practice in the form of modules that are open and accessible
            online, and complementary to the lecture,
        </li>
        <li>
            an integrated, hands-on approach, directly applying the methods taught,
        </li>
        <li>
            involving, at an early stage, local businesses, research
            institutions and social actors not only in the planning
            of the course content but also in providing practical
            exercise material and examination projects.
        </li>
    </liste>
    The lecture draws from interactive support from a browser-based programming
    environment that is easily available to students logging into a
    university account on their laptop.<br>