<keinbr>
    <!-- Details zu Lehrveranstaltung "Data Literacy Basics" -->
    <br>
    <p style="font-size:20px;color:#084B8A">
        <b>Lehrveranstaltung "Data Literacy Basics"</b></p>
    Beginnend mit dem Sommersemester 2019 soll "Data Literacy Basics"
    als gemeinsames Angebot des Göttingen Campus unter Federführung
    des Zentrums für Statistik, mit begleitenden Tutorials als neue
    Lehrveranstaltung zur Vermittlung grundlegender Datenkompetenzen
    für Bachelorstudierende starten. Die Veranstaltung wird
    wöchentlich stattfinden und pro Woche jeweils zwei Stunden
    Vorlesung und Tutorials im DataLab beinhalten, so dass die
    Studierenden die relevanten Konzepte praktisch durch die
    Auswertung geeigneter Datensätze erlernen.
    <br>
    <br>
    Um von Beginn an eine breite curriculare Anrechenbarkeit
    für Bachelorstudierende aller Fachrichtungen zu erreichen,
    wird die Veranstaltung ab Sommersemester 2019 als Teil des
    universitätsweiten Schlüsselkompetenzangebots wählbar sein.
    Für das Sommersemester 2020 ist vorgesehen, die
    Lehrveranstaltung in die Curricula der Philosophischen
    Fakultät, der Sozialwissenschaftlichen Fakultät, der
    Fakultät für Wirtschaftswissenschaften und im Bereich
    Lehrerausbildung in geeigneten Studiengängen fest zu
    verankern. Dabei wird bewusst ein Fokus auf geistes-
    und sozialwissenschaftliche Fächer gewählt, in denen
    die Vermittlung von Datenkompetenzen besonders großes
    Innovationspotenzial hat. Für das Sommersemester 2021
    ist geplant, weitere Fakultäten in diesen Prozess einzubeziehen.
    <br>
    <br>
    Dabei besitzt die geplante Lehrveranstaltung insbesondere
    einen konzeptionellen Fokus auf
    <liste>
        <li>methodenbasierten Inhalten der Vorlesung,</li>
        <li>fachspezifischen Inhalten der Übungsaufgaben in den Tutorials,</li>
        <li>dem Bereitstellen von Lerninhalten und Übungsdatensätzen
            in Form von offenen, online verfügbaren und mit der
            Vorlesung abgestimmten Modulen,</li>
        <li>einem durchgängigen "Hands-on" Ansatz mit direktem
            Einsatz erlernter Methoden und</li>
        <li>einem frühen Einbinden lokaler Unternehmen,
            Forschungseinrichtungen und gesellschaftlicher
            Akteure in die Konzeption der Lehrinhalte sowie
            in die Generierung von praxisnahen Übungsbeispielen
            und Abschlussprojekten.</li>
    </liste>
    Die Vorlesung wird interaktiv durch den Einsatz einer
    browserbasierten Programmierumgebung unterstützt, welche
    allen Studierenden ohne zusätzlichen Aufwand mit einem
    Universitätsaccount auf dem eigenen Laptop zur Verfügung
    steht.<br>