<keinbr>
    <!--Einleitender Abschnitt mit relevanten Informationen zum Inhalt des Projekts und der Zielsetzung -->
    <img src=""><i>Als forschungsstarker Verbund universitärer und 
        universitätsnaher Forschungsinstitutionen arbeitet der 
        Göttingen Campus federführend an der Entwicklung im Bereich 
        Data Science mit. Im Zuge des Projektes "Daten Lesen Lernen" 
        sollen die vorhandenen Kompetenzen und infrastrukturellen 
        Ressourcen genutzt werden, um Datenkompetenzen auch in der 
        Fläche des Campus zu verankern. Ziel des Projektes ist dabei 
        die Etablierung eines breiten und allgemein verfügbaren 
        Angebots zur Vermittlung von grundlegenden Datenkompetenzen 
        an alle Bachelorstudierenden als Initiative des Göttingen 
        Campus, bestehend aus der dafür konzipierten Lehrveranstaltung 
        "Data Literacy Basics", dem Aufbau eines DataLabs und die 
        Aufbereitung und Bereitstellung von Open Educational 
        Resources zur Abrundung des Lehrangebots. Mit diesem 
        Projekt beteiligt sich die Universität Göttingen an der 
        Ausschreibung  
        <a href="https://www.stifterverband.org/data-literacy-education">Data Literacy Education</a> 
        des Stifterverbandes und der Heinz Nixdorf Stiftung.</i><br>
    <style>
        div.transbox {
            margin: 30px;
            background-color: rgba(8, 75, 138, 0.35);
            border: 1px solid white;
            opacity: 1;
            filter: alpha(opacity=100);
            /* For IE8 and earlier */
        }
        
        div.transbox p {
            margin: 5%;
            color: #000000;
            opacity: 1;
        }
    </style>
    </head>
        <body>
            <div class="background">
                <div class="transbox">
                    <p>
                    Unter den folgendem Link 
                    (<a href="https://github.com/Daten-Lesen-Lernen/daten-lesen-lernen-lecture" style="color:#FFF;">GitHub</a>)
                    können die aktuellen Materialien der Veranstaltung gefunden werden. 
                    <br>
                    <br>
                    Auf folgender Seite 
                    (<a href="https://www.uni-goettingen.de/de/614739.html" style="color:#FFF;">Link</a>)
                    sind projektbegleitende OER Materialien zu finden.
                    </p>
                </div>
            </div>
    <!-- Überleitung zu den einzelnen Bestandteilen und der Inhalten -->
    Unter dem Begriff Datenkompetenz 
    werden dabei unterschiedliche 
    Fähigkeiten subsumiert, 
    beispielsweise die Befähigung Daten 
    explorativ, computergestützt zu untersuchen, 
    zu analysieren, sowie die erzielten Ergebnisse 
    zu interpretieren. Damit sprengt Datenkompetenz 
    die traditionellen Fächergrenzen und integriert 
    Fähigkeiten aus den Bereichen Informatik, Statistik, Mathematik 
    mit ethischen und gesellschaftswissenschaftlichen 
    Aspekten sowie detailliertem Wissen aus dem betrachteten 
    Anwendungsbereich. Entsprechend sind bisher an den 
    meisten deutschen Universitäten die Curricula nicht 
    oder nur unzureichend auf die Vermittlung von 
    Datenkompetenzen für eine breite Teilmenge der 
    Studierendenschaft ausgerichtet.<br>
    
    <!-- Ziele und Säulen des Projektes -->
    <br>
    <b>Ziel dieses Projektes</b> ist deshalb die Etablierung eines 
    breit verankerten und allgemein verfügbaren Angebots zur 
    Vermittlung von grundlegenden Datenkompetenzen an alle 
    Bachelorstudierenden als Initiative des Göttingen Campus. 
    Dieses Ziel wird mit Hilfe von drei wesentlichen Komponenten erreicht: <br>
    <ol>
    <li>Der für Bachelorstudierende aller Fächer zugänglichen, 
        interaktiven Lehrveranstaltung 
        <a href="#DataLiteracyBasics">Data Literacy Basics</a>, 
        in der grundlegende Bestandteile der Datenkompetenz praxisorientiert und forschungsnah vermittelt werden,</li><br>
    <li>der Etablierung eines <a href="#DataLab">DataLabs</a>
        als Schnittstelle zwischen den verschiedenen Anwendungsbereichen
        aus denen die Studierenden der Lehrveranstaltungen kommen,
        der regionalen Wirtschaft und gesellschaftlichen Akteuren,
        sowie den im CIDAS organisierten methodisch arbeitenden
        Wissenschaftler*innen, um die Lehrveranstaltung nahtlos
        mit konkreten praktischen Anwendungsprojekten zu verknüpfen
        und</li><br>
    <li>der Ergänzung der in Lehrveranstaltung und DataLab vermittelten
        Datenkompetenzen um kuratierte und qualitätsgeprüfte
        <a href="#OER">Open Educational Resources</a>, die mit
        geeigneter Prüfungsform für das Studium anrechenbar sind.</li><br>
    </ol>
    Übergreifend wird als Teil des Lehr-Leitbilds verankert, 
    dass „alle Absolvent*innen die für sie wichtigen digitalen 
    Kompetenzen für Studium, Forschung, Beruf und 
    gesellschaftliche Partizipation erwerben können.” 
    In einem von Stifterverband und CHE geförderten 
    Peer-to-Peer-Beratungsprozess haben Hochschulleitung, 
    Lehrende, Studierende und Serviceeinrichtungen 
    gemeinsam Stärken und Schwächen analysiert und 
    entsprechende Handlungsfelder für die Implementierung abgeleitet. 
    Ein wichtiger Schritt ist die curriculare Verankerung 
    digitaler Kompetenzen in allen Studiengängen.<br>
    <a name="DataLiteracyBasics"></a>