<keinbr>
    <br>
    <div style="padding-left:30px">
        <details>
            <summary>> <i><b>Erlernen einer Skriptsprache</b></i></summary>
            <p>Um die Studierenden zu befähigen, Werkzeuge wie Bibliotheken
                zum Umgang mit Daten zu nutzen, benötigen sie Kenntnisse
                einer Skriptsprache. Bei der Wahl dieser Sprache liegt der
                Fokus sowohl auf der einfachen Erlernbarkeit, als auch auf
                der universellen Einsetzbarkeit. Ziel ist es, den
                Studierenden ein Werkzeug an die Hand zu geben, welches
                sie später unabhängig von der Problemstellung in möglichst
                allen Bereichen einsetzen können. Python bietet hier durch
                seine weite Verbreitung in vielen Disziplinen und seine
                Open Source-Natur große Vorteile. Das Python-Universum
                bietet außerdem mit Jupyter Notebooks und dem JupyterHub
                zwei Browser-basierte Werkzeuge, die interaktives Lehren
                und Lernen stark vereinfachen und einen schnellen Einstieg
                ermöglichen.<br></p>
        </details>
        <br>
        <details>
            <summary>> <i><b>Daten sammeln, lesen, schreiben und säubern</b></i></summary>
            <p>In diesem Teil der Vorlesung liegt der Fokus darauf, den
                Studierenden eine Einführung in die Sammlung und das
                Management von Daten zu geben sowie das (automatisierte)
                Lesen, Schreiben und Säubern von Daten in gängigen Formaten
                zu ermöglichen. Dafür benötigen die Studierenden eine
                Einführung in die Natur von Daten, die kurz und praxisnah
                gehalten ist und das Gelernte in einem größeren
                gesellschaftlichen und wissenschaftlichen Kontext
                einordnet. Anschließend wird vermittelt, wie
                Problemstellungen der Organisation, Manipulation und
                Konvertierung von Daten mit etablierten und weit
                verbreiteten Werkzeugen aus dem Python-Universum
                (Python-Standardbibliothek, Pandas) bewältigt werden
                können. Schlussendlich wird vermittelt, wie mit
                unvollständigen oder korrumpierten Einträgen in
                Datensätzen umgegangen werden kann und wie sich
                unvollständige Datensätze auf Analyseergebnisse auswirken können.<br></p>
        </details>
        <br>
        <details>
            <summary>> <i><b>Erkunden von Daten</b></i></summary>
            <p>In diesem Teil der Vorlesung wird detaillierter als im
                ersten Teil darauf eingegangen, wie eine Bibliothek und
                ihre Methoden erschließbar und anwendbar sind. Weit
                verbreitete Bibliotheken (Pandas, Matplotlib), die den
                Umgang mit Daten erleichtern, werden eingesetzt um
                einfache Kenngrößen von Datensätzen zu berechnen und
                diese zu visualisieren. Mit Hilfe dieser Werkzeuge
                wird den Studierenden dann vermittelt, wie die
                gewonnenen Erkenntnisse zu interpretieren sind.<br></p>
        </details>
        <br>
        <details>
            <summary>> <i><b>Statistische Analyse</b></i></summary>
            <p>Auch hier liegt der Fokus auf der Befähigung zur
                Anwendung von Methoden und weniger auf der Vermittlung
                von fundierten theoretischen Kenntnissen der Statistik.
                Mit Hilfe von Bibliotheken (SciPy, Scikit-learn)
                können zügig lineare Regressionen und einfache
                Methoden aus dem Bereich des Machine Learning auf
                erschlossene Datensätze angewandt und anhand der
                Anwendung eventuell auftretende Probleme mit der
                Anwendung der Methoden bzw. der Interpretation
                der resultierenden Ergebnisse illustriert werden.
                Hierbei soll eine Orientierung dafür vermittelt werden,
                <liste>
                    <li>welche Methoden für welche Art von Fragen und Daten geeignet sind, </li>
                    <li>wie die gewonnenen Erkenntnisse verwendet werden können,
                        um Antworten auf die initialen Fragen zu finden und wo
                        die Schwächen verschiedener Methoden liegen.</li>
                </liste>
            </p>
        </details>
        <br>
        <details>
            <summary>> <i><b>Ethik, Datenschutz und Veröffentlichung von Daten</b></i></summary>
            <p>Als Zusammenfassung der Data Literacy Basics werden
                die Inhalte in den Gesamtkontext der Arbeit mit Daten
                eingeordnet und die Bedeutung der Aspekte von
                Datenethik, Datenschutz und der Veröffentlichung von
                Daten dargestellt. Hierdurch werden die Studierenden
                angeregt, ihre erfolgreich erworbenen Kompetenzen
                ntsprechend ihrer individuellen Bedürfnisse in
                weiteren Lerneinheiten zu erweitern und zu vertiefen.
                Dazu können sie aus einem Katalog passender Open
                Educational Resources wählen, der als dritte Säule
                des Projekts erarbeitet wird.<br></p>
        </details>
    </div>
    <a name="DataLab"></a>
    <br>
    <br>
    <!-- Details zum DataLab -->
    <p style="font-size:20px;color:#084B8A"><b>Einrichtung eines DataLabs</b></p>
    Als zweiter wesentlicher Bestandteil unserer Initiative
    wird ein DataLab aufgebaut, welches eng mit der
    Lehrveranstaltung verknüpft ist und die praktische
    Anwendung in verschiedenen Fachdisziplinen ermöglicht.
    Das DataLab bietet den Raum für die Umsetzung von
    Tutorials und eine Betreuung von Abschlussprojekten für
    die oben beschriebene Vorlesung, bezieht aber auch
    bereits bestehende Strukturen zur Beratung für
    Studierende und Promovierende an der Universität
    Göttingen ein und macht diese für die Lehre nutzbar.
    Das DataLab baut außerdem auf der systematischen
    Integration des wissenschaftlichen Nachwuchses von
    mehr als 3000 Promovierenden der Universität Göttingen
    und des Göttingen Campus sowie den (zu erwartenden)
    ca. 100 Studierenden pro Jahrgang in Data
    Science-Studiengängen auf. Ein signifikanter Anteil
    der Promovierenden hat bereits fundierte Kompetenzen
    in der eigenen fachspezifischen Datenanalyse erworben
    und könnte diese im Rahmen der skizzierten Veranstaltung
    an die Teilnehmenden weitergeben. Als Tutoren angestellte
    Studierende aus den Data Science-Studienprogrammen
    können auf der anderen Seite ihre Kompetenzen hinsichtlich
    technischer Aspekte der Datenverarbeitung einbringen.
    Somit zeigt das DataLab teilnehmenden Studierenden die
    fachspezifische Anwendung von Datenkompetenzen in ihrem
    eigenen Interessensbereich auf. Zusätzlich wird das DataLab
    als Anlaufstelle für regional ansässige Unternehmen dienen,
    um Kooperationen rund um die Analyse von Daten zu fördern.<br>
    <br>
    <div style="padding-left:30px">
        <details>
            <summary>> <b><i>Tutorials und Projektarbeiten</i></b></summary>
            <p>Ergänzend zur der Vorlesung "Data Literacy Basics" werden
                wöchentlich begleitende Tutorials angeboten. In einer
                ersten Phase dieser Tutorials soll den Studierenden
                die selbständige Anwendung von Datenkompetenzen anhand
                von praxisnahen und fachspezifischen Beispielen
                vermittelt werden. Dabei liegt der Schwerpunkt auf der
                Hilfestellung beim Lösen fachspezifischer Probleme
                und der Vermittlung von weiterführenden und
                eigenständigen Problemlösungskompetenzen im
                Umgang mit der Skriptsprache und den Werkzeugen zur
                Bearbeitung von Datenproblemen. Beispielhaft
                seien hier folgende drei Anwendungen jeweils aus
                der wirtschaftswissenschaftlichen, der
                sozialwissenschaftlichen und der philosophischen
                Fakultät genannt:
                <liste>
                    <li>In Tutorials für Studierende der
                        wirtschaftswissenschaftlichen Fakultät können
                        anhand umfassender Panel-Datenbanken und unter
                        Verwendung von Regressionstechniken komplexe
                        Zusammenhänge zwischen sozio-ökonomischen
                        Variablen wie Arbeitszeit, Arbeitslöhnen und
                        Arbeitslosigkeit analysiert werden.</li>
                    <li>In einem Tutorial an der sozialwissenschaftlichen
                        Fakultät können die online frei verfügbaren
                        Wahlprogramme der im Bundestag vertretenen Parteien
                        eingelesen und mittels korpusgestützter
                        Forschungsmethoden verglichen werden.</i>
                    <li>In der philosophischen Fakultät können die
                        erlernten Datenkompetenzen beispielsweise
                        verwendet werden um in Kooperation mit dem 3D
                        Campuslabor der klassischen Archäologie
                        topometrische Untersuchungen zu erläutern,
                        in welchen die computergestützte vergleichende
                        Objektanalyse den Studierenden nähergebracht wird.</li>
                </liste>
                Im DataLab wird neben der Durchführung der Tutorials
                auch die Betreuung der Abschlussprojekte für die
                Veranstaltung "Data Literacy Basics" stattfinden. Dabei
                werden Studierende an einem fachlich für sie relevanten
                Datenproblem arbeiten und somit demonstrieren, dass sie
                die vermittelten Inhalte praxisbezogen anwenden können.
                Die Projekte werden in Kleingruppen von 3 bis 5
                Bachelorstudierenden bearbeitet, wobei jede Kleingruppe
                durch einen Tutor betreut wird. Die enge Betreuung
                gewährleistet dabei eine umfassende Hilfestellung für
                die Studierenden.<br></p>
        </details>
        <br>
        <details>
            <summary>> <b><i>Generierung von Praxisbeispielen auf
                        Basis des Data Consulting</i></b></summary>
            <p>Seit 2012 bietet das Zentrum für Statistik
                <a href="https://www.uni-goettingen.de/de/421334.html">eine statistische Beratung</a>
                für Abschlussarbeiten an der Universität Göttingen an, welche
                sich an Studierende aller Fachbereiche richtet. Ergänzt wird
                diese Beratung durch fachspezifische Beratungsmöglichkeiten für
                Studierende und Promovierende an sieben verschiedenen Fakultäten.
                Im Zuge eines zu schaffenden DataLabs wird eine zentrale
                Anlaufstelle für Studierende und Promovierende des Göttingen
                Campus geschaffen, an welche diese sich mit datenbezogenen
                Problemstellungen wenden können. Das bestehende Angebot wird
                so verbessert und ausgeweitet werden. Zusätzlich wird die
                Wahrnehmung des DataLabs durch Studierende über den Einsatz
                einer zentralen und gezielten Informationspolitik gesteigert.<br>
                <br>
                Im Rahmen der Beratung werden anfallende fachspezifische
                Fragestellungen und Datensätze systematisch gesammelt und,
                soweit möglich, für die Lehre nutzbar gemacht. Insbesondere
                sollen Fragestellungen, Datensätze und Schlussfolgerungen so
                aufbereitet werden, dass diese in der oben skizzierten Vorlesung
                und den dazugehörigen Tutorials als Anwendungsbeispiele
                verwendet werden können, um möglichst viele Anwendungsbereiche
                von Datenkompetenzen abzudecken. Darüber hinaus soll die
                statistische Beratung im Zuge des beantragten Projektes auch
                Hilfestellungen für die eingesetzten Tutoren bei
                Problemstellungen in den Abschlussprojekten im Zuge der
                geplanten Veranstaltung leisten.<br></p>
        </details>
        <br>
        <details>
            <summary>> <b><i>Anlaufstelle für gesellschaftliche Akteure
                        und die regionale Wirtschaft</i></b></summary>
            <p>Aufbauend auf bereits existierenden Netzwerken
                innerhalb des Göttingen Campus, des
                <a href="https://www.snic.de/">SüdNiedersachsenInnovationsCampus</a>
                und des
                <a href="https://www.measurement-valley.de/startseite/">Measurement Valley</a>
                wird das DataLab als Anlaufstelle für Unternehmen und
                weitere gesellschaftliche Akteure sowie als Plattform
                für den Austausch zwischen Studierenden, Forschern,
                Unternehmen und außeruniversitären Einrichtungen zu
                spezifischen Fragestellungen in Hinblick auf
                Datenanalysen etabliert. Zu diesem Vorhaben trägt das
                beantragte Projekt über die Bearbeitung von
                datenspezifischen Fragestellungen außeruniversitärer
                Partner als Abschlussprojekte bei.<br></p>
        </details>
    </div>
    <a name="OER"></a>
    <br>
    <br>
    <!-- Details zu den Open Educational Resources -->
    <p style="font-size:20px;color:#084B8A"><b>Open Educational Resources (OER)</b></p>
    Ergänzend zu der Vorlesung und dem DataLab werden in
    der dritten Säule des Projektes weitere Veranstaltungen
    aus anderen Universitäten als frei verfügbare
    Lernmaterialien den Studierenden zur Verfügung gestellt.
    Dies können sowohl Inhalte wie „Datenorganisation” oder
    „Zitieren aus Datenbanken” sein, als auch die Vertiefung
    von Bereichen wie Datenethik, datengesteuerte
    Entscheidungsfindung oder Publikation von Daten.<br>
    <br>
    <div style="padding-left:30px">
        <details>
            <summary>> <b><i>Inhalte und Umfang </i></b></summary>
            <p>Der Schwerpunkt liegt dabei vorrangig auf niedrigschwelligen
                Angeboten, die auch für Studierende der
                geistes- und gesellschaftswissenschaftlichen
                Fächer nutzbar sind. Hierbei sollen im Rahmen
                des Projekts nur in geringem Umfang neue
                Angebote mit direktem Bezug zur geplanten
                Lehrveranstaltung entstehen (etwa die Aufzeichnungen der Vorlesung)
                und stattdessen das bereits von anderen Anbietern
                erstellte Material zielgruppengerecht zusammengestellt
                und katalogisiert werden. Dies geschieht zum einen
                durch die Projektmitarbeiter und zum anderen können
                Studierende und Lehrende entsprechende Vorschläge
                machen und Bedarfe anmelden. Verschiedene Bedarfe
                werden hierbei durch Module mit unterschiedlichem
                zeitlichem Aufwand und inhaltlicher Tiefe bedient.<br></p>
        </details>
        <br>
        <details>
            <summary>> <b><i>Anrechenbarkeit der Lehrangebote</i></b></summary>
            <p>In Zusammenarbeit mit den zuständigen dezentralen und
                zentralen Gremien wird im Rahmen des Projekts ein
                Prozess etabliert, der die Rahmenbedingungen und die
                praktischen Fragen der Anrechnung in den Curricula
                regelt. Im Rahmen der Katalogisierung werden auf dieser
                Basis Modulbeschreibungen erstellt und verabschiedet.
                Hierzu werden auch gleichartige Angebote parallel
                angeboten, hinsichtlich Ihrer Eignung systematisch
                verglichen und auf dieser Basis entsprechende
                Empfehlungen für die Auswahl gegeben.<br></p>
        </details>
        <br>
        <details>
            <summary>> <b><i>Zugang zu den Materialien</i></b></summary>
            <p>Die aufbereiteten Informationen zum generellen Prozess
                und zu den katalogisierten OER werden mit Partnern im
                <a href="https://www.uni-goettingen.de/de/367892.html">eCULT+-Netzwerk</a>
                abgestimmt und online veröffentlicht. So können auch Studierende
                und Studiengangsverantwortliche anderer Hochschulen auf diese mit
                dem jeweiligen OER-Material verknüpften Daten zugreifen.
                Auf diese Weise erreicht man eine Übertragbarkeit der
                entsprechenden Angebote über die Nutzung an der Universität
                Göttingen hinaus.<br></p>
        </details>
    </div>
    <br>
    <br>
    <!-- Details zur Qualitätssicherung -->
    <p style="font-size:20px;color:#084B8A"><b>Evaluation und
            Qualitätssicherung der entwickelten Angebote</b></p>
    Die Evaluation der neu etablierten Angebote zur
    breiten Vermittlung von Datenkompetenzen findet auf
    verschiedenen Skalen statt. Zur unmittelbaren
    Evaluation der einzelnen Veranstaltungen, insbesondere
    der Vorlesung „Data Literacy Basics“ und des DataLabs
    wird das an der Universität bereits etablierte EvaSys-
    Evaluierungssystem verwendet. Diese Möglichkeit soll
    intensiv genutzt werden, um insbesondere in der
    Etablierungsphase der neuen Angebote detaillierte
    Rückmeldungen der Studierenden einzuholen. Zudem wird ein
    Prozess zur formativen Evaluation der Vorlesung
    „Data Literacy Basics“ und des DataLabs, auch unter
    Einbezug von Social Media-Kanälen, etabliert.<br>
    <br>
    Um gleichzeitig die Erreichung der globalen Projektvision -
    die Vermittlung von Datenkompetenzen an Bachelorstudierende
    aller Fachbereiche - sicherzustellen, wird das Projekt von
    einem Beirat unterstützt werden. Im Beirat werden
    Forscher*innen aus universitären und
    außeruniversitären Forschungseinrichtungen,
    Stakeholder aus Wirtschaft und Gesellschaft
    sowie Studierendenvertretungen gemeinsam einmal
    jährlich die Lehrangebote und die erreichten
    Ziele evaluieren und dem Projektteam Vorschläge
    zu Veränderungen und Verbesserungen geben.
    Grundlage der Evaluation wird ein jährlicher
    Bericht sein, der Kennziffern zur Nutzung und
    Auslastung der Angebote, die Evaluationsergebnisse
    des EvaSys-Evaluierungssystems sowie weitere
    relevante Informationen enthalten wird.<br>
    <br>
    <br>
    <!-- Warum ist das Projekt sinnvoll und notwendig? -->
    <p style="font-size:20px;color:#084B8A"><b>Warum
            ist die Vermittlung von Datenkompetenzen von so großer Relevanz?</b></p>
    Die zunehmende Digitalisierung von Wirtschaft,
    Wissenschaft und Gesellschaft macht den Umgang
    mit Daten und das Verständnis von aus Daten
    abgeleiteten Erkenntnissen zu einer Kernkompetenz
    für die gesellschaftliche Teilhabe. Dies
    spiegelt sich einerseits in der zunehmenden
    Berücksichtigung entsprechender Qualifikationen
    als Einstellungsvoraussetzung in zahlreichen
    Arbeitsbereichen wider. Andererseits ist die
    Entwicklung spezialisierter Data Science-Studiengänge
    zu beobachten, die in der Regel entweder informatisch,
    statistisch oder mathematisch dominiert sind. Damit
    entsteht ein Spannungsfeld zwischen der Ausbildung
    spezialisierter Datenwissenschaftler*innen und dem
    breiten Bedarf an datenkompetent ausgebildeten
    Berufsanfänger*innen ohne tatsächliche Spezialisierung
    als Datenwissenschaftler*innen.<br>
    <br>
    <br>
    <!-- Warum eignet sich der Göttinger Campus für dieses Projekt? -->
    <p style="font-size:20px;color:#084B8A"><b>Welche Voraussetzungen
            bietet der Göttingen Campus für "Daten Lesen Lernen"?</b></p>
    Am Göttingen Campus, einer langjährigen Zusammenarbeit
    der Universität Göttingen, der
    <a href="http://www.med.uni-goettingen.de/">Universitätsmedizin</a>,
    fünf Max-Planck-Instituten, dem
    <a href="https://www.dlr.de/dlr/desktopdefault.aspx/tabid-10002/">Deutschen Zentrum für Luft- und Raumfahrt</a>,
    dem <a href="https://www.dpz.eu/de/startseite.html">Deutschen Primatenzentrum</a>
    und anderen außeruniversitären Forschungseinrichtungen,
    bestehen ausgezeichnete Voraussetzungen für die Etablierung
    eines fakultätsübergreifenden, campusweiten Lehrangebots zur
    Vermittlung von Datenkompetenzen. Daher bietet das
    Förderprogramm “Data Literacy Education” für den Göttingen
    Campus die Möglichkeit, ein solches Angebot zielgerichtet
    für Bachelorstudierende aufzubauen und nachhaltig curricular
    zu verankern.<br>
    <br>
    Im Präsidium der Universität zeichnet die Vizepräsidentin
    für Studium und Lehre gemeinsam mit dem hauptamtlichen
    Vizepräsidenten für Infrastrukturen für die Verankerung von
    digitaler Lehre verantwortlich. Das Göttinger Zentrum für
    Statistik hat als Zusammenschluss von Wissenschaftler*innen
    aus sieben Fakultäten langjährige Erfahrung in der fächer-
    und fakultätsübergreifenden Ausbildung sowohl im Rahmen des
    Masterstudiengangs
    <a href="https://www.uni-goettingen.de/de/421501.html">Angewandte Statistik</a>
    als auch im Promotions- und Zertifikatsprogramm
    <a href="https://www.uni-goettingen.de/de/angewandte+statistik+und+empirische+methoden++%28promotion%29/1442.html">Angewandte
        Statistik und empirische Methoden</a>.
    Das Zentrum für Statistik bietet darüber hinaus in verschiedenen
    Formen statistische Beratung an (für Studierende,
    Promovierende und Forschungsverbünde) und hat damit den
    aktuellen Bedarf an Datenkompetenzen in diversen Fachkulturen
    gut im Blick.<br>
    <br>
    Mit der
    <a href="http://www.eresearch.uni-goettingen.de/">eResearch Alliance</a>
    hat die Universität darüber hinaus in den letzten Jahren große
    Kompetenzen im Bereich des Datenmanagements als Unterstützung
    des vollen Lebenszyklus‘ von Daten aufgebaut (Design und
    Durchführung der Erhebung, Aufbereitung und Analyse,
    Langzeitspeicherung und Veröffentlichung, Wiederverwendung der Daten).
    Der
    <a href="https://www.uni-goettingen.de/de/%C3%9Cber+den+service+f%C3%BCr+digitales+lernen+und+lehren/220781.html">Service
        für Digitales Lernen und Lehren</a>
    berät Lehrende als Partner didaktisch bei Fragen zur Vermittlung
    digitaler Kompetenzen und beim Einsatz neuer Medien. Im in zweiter
    Phase BMBF-geförderten niedersächsischen Verbund eCult+ besteht ein
    intensiver Austausch mit zwölf anderen Hochschulen zu digitalen Lehr-
    und Lerntechnologien. Mit der Gesellschaft für wissenschaftliche
    Datenverarbeitung (<a href="https://www.gwdg.de/de">GWDG</a>)
    steht zudem ein professioneller Anbieter auch für anspruchsvolle
    IT-Infrastrukturen zur Verfügung. Darüber hinaus führen die GWDG
    und die eResearch Alliance bereits äußerst erfolgreich mit weiteren
    Partnern wie dem Zentrum für Statistik jährliche, interdisziplinäre
    Data Science Summer Schools durch, die die hohe Vernetzung der
    Einrichtungen und den gemeinsamen datenwissenschaftlichen Schwerpunkt
    unterstreichen. Der Göttingen Campus besitzt exzellente Kontakte zur
    regionalen Wirtschaft, Verwaltung und Gesellschaft, insbesondere über
    den SüdNiedersachsenInnovations-Campus und das Measurement Valley.<br>
    <br>
    Derzeit im Aufbau befindet sich das Campus-Institut Data Science
    (CIDAS) als gemeinsame Einrichtung des Göttingen Campus. Das CIDAS
    liegt an der Schnittstelle von Informatik, Statistik, Mathematik
    und Anwendungsdisziplinen, insbesondere aus wirtschafts-, sozial-,
    gesellschafts- und naturwissenschaftlichen Bereichen und soll neueste
    Methodenentwicklungen in verschiedenen Bereichen der Datenwissenschaften
    (z.B. maschinelles Lernen, künstliche Intelligenz,
    simulationsbasierte Methoden, Angewandte Statistik,...)
    mit international kompetitiver Forschung in Profilfeldern des
    Standorts verbinden. Dies beinhaltet sowohl derzeit in
    verschiedenen wissenschaftlichen Zentren bearbeitete Themen
    als auch die Integration neuer Themenschwerpunkte über vier
    derzeit in der Ausschreibung befindliche Professuren (in den
    Bereichen Data Science, künstliche Intelligenz und Machine Learning).
    Das CIDAS wird zudem die Bachelorstudiengänge
    <a href="https://www.uni-goettingen.de/de/578885.html">Applied Data Science</a>
    und <a href="https://www.uni-goettingen.de/de/578300.html">Mathematical Data Science</a>
    beheimaten, die zum Wintersemester 2018/19 starten werden.<br>
    <br>
    Der Göttingen Campus stellt bereits derzeit ein ausgezeichnetes
    Umfeld für datenwissenschaftliche Forschung und die Vermittlung
    datenwissenschaftlicher Inhalte an in diesem Bereich
    spezialisierte Studierende dar. Insbesondere durch den Aufbau
    des CIDAS sind hier für die Zukunft viele Impulse und eine
    dynamische Entwicklung zu erwarten. Die drei Komponenten des
    Projektes "Daten Lesen Lernen" ermöglichen es, diese Entwicklungen
    um eine wichtige Dimension zu erweitern und Datenkompetenzen in
    der vollen Breite der universitären Ausbildung an Bachelorstudierende
    aller Fachbereiche zu vermitteln. Dabei erlaubt es die geplante
    Konzeption, die Maßnahmen adaptiv auch für eine große Zahl von
    Studierenden zu skalieren, die breite Vermittlung von Inhalten mit
    fachspezifischen Anwendungen zu verknüpfen und Stakeholder an dem
    Prozess der Entwicklung zu beteiligen. Mittelfristig soll überprüft
    werden, ob die entwickelten Maßnahmen im Rahmen eines Data Literacy
    Zertifikats zusammengeführt und ergänzt werden können, um den
    Studierenden über die Anrechenbarkeit in den Curricula hinaus einen
    Nachweis über die Aneignung von Datenkompetenzen zu ermöglichen.<br>
    <br>
    <br>
    <!-- Details zum Team -->
    <p style="font-size:20px;color:#084B8A"><b>Strukturen und Team</b></p>
    Das Projektteam besteht zum einen aus einem Leitungsgremium,
    das die Umsetzung der geplanten Ziele begleitet und anleitet,
    und zum anderen aus konkret an mit der Umsetzung beauftragten
    Personen. Das Leitungsgremium setzt sich dabei aus den folgenden
    Personen zusammen:
    <liste>
        <li>Prof. Dr. Andrea Bührmann
            (Vizepräsidentin für Studium, Lehre und Chancengleichheit)</li>
        <li>Prof. Dr. Norbert Lossau (Vizepräsident für Infrastrukturen)</li>
        <li>Prof. Dr. Thomas Kneib
            (Sprecher des Zentrums für Statistik,
            Professur für Statistik an der Wirtschaftswissenschaftlichen Fakultät)</li>
        <li>Prof. Dr. Ramin Yahyapour
            (Gesellschaft für Wissenschaftliche Datenverarbeitung Göttingen,
            Sprecher des Zentrums für Angewandte Informatik,
            Professur für Praktische Informatik an der Fakultät für Mathematik und Informatik)</li>
        <li>Prof. Dr. Stephan Herminghaus
            (Max-Planck-Institut für Dynamik und Selbstorganisation)</li>
        <li>Prof. Dr. Stefan Halverscheid
            (Professur für Didaktik der Mathematik)</li>
        <li>Prof. Dr. Albert Busch
            (Studiendekan der Philosophischen Fakultät)</li>
        <li>Prof. Dr. Stefan Dierkes
            (Studiendekan der Wirtschaftswissenschaftlichen Fakultät)</li>
        <li>Prof. Dr. Timo Weishaupt
            (Studiendekan der Sozialwissenschaftlichen Fakultät)</li>
        <li>Claudia Trepte (Geschäftsführerin Measurement Valley)</li>
        <!-- <li>Mascha Albrecht (Geschäftsführerin SNIC)</li> -->
    </liste>
    Das Leitungsgremium verbindet damit wissenschaftliche
    Expertise mit der notwendigen Entscheidungskompetenz in
    Bezug auf die universitäre Lehre, sodass die Veranstaltung
    erfolgreich durchgeführt und zeitnah breitenwirksam in der
    Universität verankert werden kann.<br>
    <br>
    Das Team zur konkreten Umsetzung besteht aus
    <liste>
        <li><a href="mailto:benjamin.saefken@uni-goettingen.de" title="Opens window for sending email" class="mail">Dr.
                Benjamin Säfken</a>
            (wissenschaftlicher Koordinator des Zentrums für Statistik
            mit umfassender Erfahrung in der Etablierung quantitativer
            Kurse in universitären Curricula)</li>
        <li><a href="mailto:asilbersdorff@uni-goettingen.de" title="Opens window for sending email" class="mail">Dr.
                Alexander Silbersdorff</a>
            (Statistische Beratung im Zentrum für Statistik
            mit umfangreicher Erfahrung in der Konzeption und
            Durchführung von Statistikkursen für heterogene
            Zielgruppen)</li>
        <li><a href="mailto:jana.lasser@ds.mpg.de <jana.lasser@ds.mpg.de>;" title="Opens window for sending email"
                class="mail">Jana Lasser</a> und <a href="mailto:dmanik@nld.ds.mpg.de"
                title="Opens window for sending email" class="mail">Dr. Debsankha Manik</a>
            (MPI für Dynamik und Selbstorganisation mit
            Erfahrung in der Durchführung fachübergreifender
            Data Literacy-Kurse unter Verwendung von Python
            und Open Educational Resources)</li>
        <li><a href="mailto:wolfgang.radenbach@uni-goettingen.de" title="Opens window for sending email"
                class="mail">Dr. Wolfgang Radenbach</a>
            (Leiter des Bereichs Digitalisierung in Studium
            und Lehre mit weitreichender Erfahrung im Bereich
            Open Educational Resources)</li>
    </liste>
    <br>